.mobile-icon {
  position: absolute;
  top: 279px;
  left: calc(50% - 147px);
  width: 295px;
  height: 509px;
  object-fit: cover;
}
.container {
  position: absolute;
  top: 0;
  left: calc(50% - 110.5px);
  border-radius: 12px;
  background-color: var(--contrast-high);
  border: 1px solid var(--primary);
  box-sizing: border-box;
  width: 221px;
  height: 40px;
}
.app-store-icon,
.google-play-icon {
  position: absolute;
  top: 8px;
  left: 181px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.google-play-icon {
  left: 153px;
}
.coming-soon-on {
  position: absolute;
  top: 10px;
  left: calc(50% - 94.5px);
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: var(--default-white);
  text-align: center;
}
.buttons,
.learn-more {
  position: absolute;
  width: 221px;
  height: 40px;
}
.learn-more {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: calc(50% - 110.5px);
}
.buttons {
  top: 199px;
  left: calc(50% - 111px);
}
.dating-app {
  font-weight: 600;
}
.bookmark-is-a,
.global-dating-app-container {
  margin: 0;
  position: relative;
  font-family: inherit;
}
.global-dating-app-container {
  font-size: inherit;
}
.bookmark-is-a {
  font-size: var(--font-size-sm);
  font-weight: 400;
  display: inline-block;
  width: 381px;
  opacity: 0.8;
}
.text {
  position: absolute;
  top: 96px;
  left: calc(50% - 191px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  text-align: center;
  font-size: 24px;
  color: var(--primary);
  font-family: var(--font-open-sans);
}
.container1 {
  position: absolute;
  top: 0;
  left: calc(50% - 214px);
  background-color: var(--default-white);
  width: 428px;
  height: 56px;
}
.separator {
  position: absolute;
  top: 55.5px;
  left: calc(50% - 214.5px);
  border-top: 1px solid var(--neutral-1);
  box-sizing: border-box;
  width: 429px;
  height: 1px;
}
.bookmark-icon,
.navigation-bar {
  position: absolute;
  top: 19.8px;
  left: calc(50% - 46.22px);
  width: 93.96px;
  height: 15.39px;
}
.navigation-bar {
  top: 0;
  left: calc(50% - 214px);
  width: 428px;
  height: 56px;
}
.mobile {
  position: relative;
  background-color: var(--default-white);
  width: 100%;
  height: 788px;
  overflow: hidden;
}
